MINDBODY_API_KEY='your_mindbody_api_key'
MINDBODY_SITE_ID='your_mindbody_site_id'
MINDBODY_USERNAME='your_mindbody_staff_username'
MINDBODY_PASSWORD='your_mindbody_staff_password'

VITE_BUSINESS_NAME='Your Gym Name'
